---
import ButtonLink from 'components/ButtonLink.astro';
import Image from 'components/Image.astro';
import BlockContent from 'components/sanity/BlockContent.astro';
import type { Props as PortableTextProps } from 'astro-portabletext/types';
import type { Banner } from 'types/sanity';

export type Props = PortableTextProps<Banner>;

const { node } = Astro.props;

const link = node.links?.[0];

const imgColumns = node.textPosition === 'left' ? '2 / 3' : '1 / 2';
const textColumns = node.textPosition === 'left' ? '1 / 2' : '2 / 3';
---

<div class:list={['banner', Astro.props.class]}>
  <div>
    <h2>{node.heading}</h2>
    <BlockContent value={node.body} />
    {link && <ButtonLink link={link} color={node.linkColor} />}
  </div>
  {node.image && <Image image={node.image} />}
</div>

<style lang="scss" define:vars={{ imgColumns, textColumns }}>
  .banner {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 1rem;

    @media (min-width: $width-l) {
      gap: 19rem;
      grid-template-columns: 1fr 1fr;
    }

    > div {
      display: grid;
      gap: 1rem;
      grid-column: 1 / -1;

      @media (min-width: $width-l) {
        grid-column: var(--textColumns);
      }
    }

    :global(img) {
      grid-column: 1 / -1;

      @media (min-width: $width-l) {
        grid-column: var(--imgColumns);
      }
    }
  }
</style>
