---
import type { Link } from '@lib/sanity';

export type Props = {
  link: Link;
  class?: string;
};

const { link } = Astro.props;

const isInternalLink = link._type === 'internalLink';
const href = isInternalLink ? `/kodio-web/${link.slug?.current}` : link.href;
const target = !isInternalLink && link.blank ? '_blank' : undefined;
const rel = !isInternalLink && link.blank ? 'noopener' : undefined;
---

<a class={Astro.props.class} href={href} target={target} rel={rel}><slot>{href}</slot></a>
