---
import { urlFor, type Image, type Color } from '@/lib/sanity';
import { colorMap } from '@/utils/colors';

export type Props = {
  title?: string | undefined;
  slug: string;
  description: string;
  image: Image;
  themeColor: Color;
};

const { title, slug, description, image, themeColor } = Astro.props;

const formattedTitle = title ? `${title} | Kodio` : 'Kodio';
const themeColorHex = colorMap[themeColor];
---

<title>{formattedTitle}</title>
<meta name="description" content={description} />
<meta name="theme-color" content={themeColorHex} />
<meta property="og:type" content="website" />
<meta property="og:title" content={formattedTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={urlFor(image).width(1200).format('png').url()} />
<meta
  property="og:url"
  content={`${import.meta.env.SITE?.slice(0, -1)}${import.meta.env.BASE_URL}${slug}`}
/>
<meta property="og:site_name" content="Kodio" />
<meta name="twitter:card" content="summary_large_image" />
