---
import ButtonLink from '@/components/ButtonLink.astro';
import Image from '@/components/sanity/Image.astro';
import SectionLayout from '@/layouts/SectionLayout.astro';
import type { Header } from '@/lib/sanity';

export type Props = {
  header: Header;
};

const { header } = Astro.props;

const link = header.links?.[0];
---

<SectionLayout color={header.color}>
  <div class="header-container">
    <div class="heading-wrapper">
      <div>
        {header.preHeading && <div class="header-preheading">{header.preHeading}</div>}
        <h1>{header.heading}</h1>
      </div>
      {link && <ButtonLink link={link} color="yellow-50" />}
    </div>
    {
      header.image && (
        <Image
          class="heading-image"
          image={header.image}
          sizes="(min-width: 1420px) 372px, (min-width: 1040px) calc(28.06vw - 21px), (min-width: 780px) calc(33.33vw - 39px), calc(100vw - 48px)"
          loading="eager"
        />
      )
    }
    {header.preamble && <div class="header-preamble">{header.preamble}</div>}
  </div>
</SectionLayout>

<style lang="scss">
  .header-container {
    display: grid;
    align-items: center;

    @media (min-width: $width-m) {
      grid-template-columns: 4fr 2fr;
      gap: 4.25rem;
    }

    .heading-wrapper {
      display: grid;
      gap: 1rem;

      @media (min-width: $width-m) {
        gap: 2.5rem;
      }

      .header-preheading {
        color: var(--orange-500);
        font-size: var(--fs-h4);
        line-height: 1.4;
        margin-bottom: 0.5rem;
        font-weight: 600;

        @media (min-width: $width-m) {
          font-size: var(--fs-h3);
          margin-bottom: 0.75rem;
        }
      }
    }

    .heading-image {
      margin-top: 5.5rem;

      @media (min-width: $width-m) {
        margin-top: 0;
      }

      @media (max-width: $width-m) {
        aspect-ratio: 1;
      }
    }

    .header-preamble {
      font-family: var(--ff-varela);
      margin-top: 1.5rem;
      padding-left: 3.375rem;

      @media (min-width: $width-m) {
        font-size: var(--fs-h4);
        line-height: 1.5;
        margin-top: 23rem;
        padding-left: 0;
      }
    }
  }
</style>
